<div class="padding" ng-controller="EditController">

  <super-navbar>
    <super-navbar-title>
      <!-- THIS STILL ISN'T WORKING UGH -->
      Edit {{ recipe.name }}
    </super-navbar-title>
  </super-navbar>

  <p>{{ recipe.name }}</p>
  <img class="image" ng-src="{{ dish.icon }}" ng-if="recipe.image">
  <img class="image" src="/food-placeholder.png" ng-if="!recipe.image">

  <form name="editRecipe" ng-submit="submitForm()" novalidate>
    <!-- NAME -->
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="name" class="form-control" ng-model="recipe.name" required>
      <!-- <p ng-show="editRecipe.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p> -->
    </div>

</div>
