<div class="padding" ng-controller="EditController">

  <super-navbar>
    <super-navbar-title>
      <!-- THIS STILL ISN'T WORKING UGH -->
      Edit recipe
    </super-navbar-title>
  </super-navbar>

  <p>{{ recipe.name }}</p>
  <p>{{ recipe.description.description }}</p>
  <p>By {{ recipe.description.authorName }}</p>
  <div ng-repeat="action in recipe.actions.instructions">
    <p>Step {{ $index + 1}} <br> {{ action }}</p>
  </div>
  <!-- <p ng-repeat="action in recipe.actions.instructions">{{ action }}</p> -->
  <img class="image" ng-src="{{ recipe.image.url }}" ng-if="recipe.image">
  <img class="image" src="/food-placeholder.png" ng-if="!recipe.image">

  <form name="editRecipe" ng-submit="submitForm()" novalidate>
    <!-- NAME -->
    <!-- <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
      <label>Name</label>
      <input type="text" name="name" class="form-control" ng-model="recipe.name" required>
      <p ng-show="editRecipe.name.$invalid && !userForm.name.$pristine" class="help-block">Name is required.</p>
    </div> -->


    <div class="list">
      <label class="item item-input">
        <input type="text" name="name" ng-model="recipe.name" placeholder="Recipe Name">
      </label>
    </div>


</div>
