<div class="padding" ng-controller="HomeController">

  <super-navbar>
    <super-navbar-title>
      stirr
    </super-navbar-title>
  </super-navbar>

<!--   <super-navigate view-id="view-dishes">
    <button class="button button-block button-positive icon-left super-wand">View Current Dishes</button>
  </super-navigate>

  <super-navigate view-id="edit-dishes">
    <button class="button button-block button-positive icon-left super-wand">Edit Current Dishes</button>
  </super-navigate>

  <super-navigate view-id="recipe#index">
    <button class="button button-block button-positive icon-left super-wand">View Recipes</button>
  </super-navigate> -->

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <super-navigate location="stirr#edit" data-params-id="{{ recipe.id }}" ng-repeat="recipe in recipes">
      <div class="position-relative">
        <div class="item stirr-head padding">
          <h1>{{ recipe.name }}</h1>
          <h2>By {{ recipe.author }}</h2>
        </div>
        <div ng-show="recipe.image" class="item item-image">
          <img ng-src="{{ recipe.image.url }}">
        </div>
      </div>
    </super-navigate>

    <h4 ng-show="recipes.length == 0" class="assertive padding">
      No recipes found. Create one?
    </h4>

    <button class="button button-full button-positive" ng-click="newRecipe()">
      Create a new recipe
    </button>
  </div>

</div>
