<div class="padding" ng-controller="HomeController">
  <super-navbar>
    <super-navbar-title>
      stirr
    </super-navbar-title>
  </super-navbar>
  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <super-navigate location="stirr#edit" data-params-id="{{ recipe.id }}" ng-repeat="recipe in recipes">
      <div class="stirr-banner">
        <img ng-src="{{ recipe.image.url || '/food-placeholder.png' }}">
        <div class="stirr-overlay">
          <h2>{{ recipe.name }}</h2>
          <h3>By {{ recipe.author }}</h3>
        </div>
      </div>
    </super-navigate>
    <h4 ng-show="recipes.length == 0" class="assertive padding">
      No recipes found. Create one?
    </h4>
    <button id="new-recipe-button" class="button button-full button-positive" ng-click="newRecipe()">
      Create a new recipe
    </button>
    </div>
  </div>
</div>