<!-- <div class="navigation-m panel">
    <a class="btn-oauth nav-login" href="/login">Create an account</a>
    <a class="btn-secondary nav-login" href="/login">Sign in</a>
    <div class="anchor-list primary">
        <a><span class="y-icon">&#x3f;</span>Just for You</a>
        <a><span class="y-icon">&#x3b;</span>Recipe Box</a>
        <a><span class="y-icon">&#x3e;</span>Collections</a>
        <a><span class="y-icon">&#x4e;</span>Add Your Recipe</a>
        <a><span class="y-icon">&#x4e;</span>Get the Bookmarklet</a>
        <a><span class="y-icon">&#x51;</span>Ask a Cooking Question</a>
    </div>
</div>
 -->
<super-navbar>
    <super-navbar-title>
        stirr
    </super-navbar-title>
</super-navbar>
<div class="list card">
    <div class="item item-avatar">
        <h2>Pretty Hate Machine</h2>
    </div>
    <div class="item item-image">
        <img src="/tomatosoup.jpg">
    </div>
</div>
<div class="list card">
    <div class="item item-avatar">
        <h2>Pretty Hate Machine</h2>
    </div>
    <div class="item item-image">
        <img src="/tomatosoup.jpg">
    </div>
</div>
<div class="list card">
    <div class="item item-avatar">
        <h2>Pretty Hate Machine</h2>
    </div>
    <div class="item item-image">
        <img src="/tomatosoup.jpg">
    </div>
</div>
