<div class="padding" ng-controller="ViewController">
  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <div class="stirr-banner">
      <img ng-src="{{ url }}">
      <div class="stirr-overlay">
        <h2>{{ recipe.name || 'Untitled' }}</h2>
        <h3>By {{ recipe.author || 'Anonymous' }}</h3>
      </div>
    </div>
    <div class="card stirr-edit-form">
      <div class="list">
        <div ng-if="recipe.description" class="item stirr-input-item">
          <p>{{ recipe.description }}</p>
          <div style="height:8px;"></div>
        </div>
        <div class="button-bar stirr-button-bar-full">
          <a class="button button-light" ng-click="forkRecipe()">Make Variation</a>
          <a class="button button-light" ng-click="seeVersions()">See Variations</a>
        </div>
        <div class="item stirr-input-item">
          <p class="stirr-input-header">Ingredients</p>
          <div ng-repeat="ingredient in ingredients" class="stirr-ingredient">
            <p class="stirr-ingredient-name">{{ ingredient.name }}</p>
            <p ng-if="ingredient.quantity" class="stirr-ingredient-quantity">{{ ingredient.quantity }}</p>
            <hr ng-if="$index + 1 !== ingredients.length">
          </div>
        </div>
        <div class="item stirr-input-item">
          <p class="stirr-input-header">Steps</p>
          <div ng-repeat="action in actions" class="stirr-action">
            <div class="stirr-action-header">
              <p class="stirr-action-number">{{ $index + 1 }}.</p>
            </div>
            <div class="stirr-action-content"><p>{{ action.step }}</p></div>
            <hr ng-if="$index + 1 !== actions.length">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
