/*supersonic native styling*/
.supersonic-navbar-mock {
  background-color: #00B5FF!important;
  text-align: center;
  font-weight: 600;
}

/*styles applied to entire app*/
.padding {
  padding: 0px;
}

/*styling for loading spinner*/
.spinner-box {
  height: 100%;
  min-height:400px;
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background-color: rgba(255,255,255,60);
}

.super-loading-c {
  font-size: 50px;
}

/*styles applied to home page*/
.recipe-item {
  position: relative;
}

.recipe-name-author {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 20;
  background-color: transparent;
  border: none;
}

.item-image {
  opacity: 0.7;
}

/*styles applied to edit page*/
.stirr-banner {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.stirr-banner img {
  position: absolute;
}

.stirr-banner button.stirr-image-edit {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none !important;
  background: transparent;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  color: white;
}

.list {
  margin-bottom: 0px;
}


