.supersonic-navbar-mock {
  background-color: #00B5FF!important;
  text-align: center;
  font-weight: 600;
}

.padding {
  padding: 0px;
}

.padding-10 {
  padding: 10px!important;
}

.list {
  margin-bottom: 0px;
}

.spinner-box {
  height: 100%;
  min-height:400px;
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background-color: rgba(255,255,255,60);
}

.super-loading-c {
  font-size: 50px;
}

.stirr-banner {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.stirr-banner img {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
}

.stirr-image-edit {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.stirr-image-edit button {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 10px 10px 10px 0;
  border: none !important;
  border-radius: 50%;
  background: #387ef5;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  color: white;
}

.stirr-banner .stirr-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  padding-top: 100px;
  border: none;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2),rgba(0,0,0,0.5));
  z-index: 1;
}

.stirr-overlay h2, .stirr-overlay h3 {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
}

label p, label textarea {
  width: 100%;
  padding: 7px 25px 7px 0px;
  white-space: normal!important;
  line-height: 20px;
}

.ingredient {
  width: 50%;
}

.item-input input {
  text-overflow: ellipsis;
}

.stirr-image-spinner {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.stirr-vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.stirr-image-spinner .stirr-vertical-center {
  text-align: center;
}

#new-recipe-button {
  padding: 0;
  margin: 0;
}

.searchbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.recipe-list {
  margin-top: 47px;
}

.stirr-fake-tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 10;
  line-height: 0;
}

.stirr-fake-tabs button {
  border: none !important;
  font-size: 30px;
  margin: 0;
  padding: 0;
  height: 47px;
  width: 50%;
  background-color: #00B5FF;
}

.stirr-fake-tabs button.active {
  color: white;
}

.stirr-indicator {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 3px;
  width: 50%;
  background-color: #00B5FF;
}

.stirr-indicator.active {
  background-color: white;
}

.stirr-spacer {
  height: 50px;
}
