<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">actions</span>
    <input type="text" ng-model="recipe['actions']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="recipe['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">description</span>
    <input type="text" ng-model="recipe['description']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">image</span>
    <input type="text" ng-model="recipe['image']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">ingredients</span>
    <input type="text" ng-model="recipe['ingredients']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">name</span>
    <input type="text" ng-model="recipe['name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="recipe['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="recipe['updatedAt']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
