<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Recipe Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="recipes.length == 0">

      <super-navigate location="recipe#show" data-params-id="{{ recipe.id }}" ng-repeat="recipe in recipes">
        <li class="item item-icon-right">
          <span ng-bind="recipe['actions']"></span>
          <i class="icon super-ios-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="recipes.length == 0" class="assertive padding">
      No recipes found. Create one?
    </h4>

    <super-modal-show location="recipe#new">
      <button class="button button-full button-positive">
        Create a new recipe
      </button>
    </super-modal-show>
  </div>
</div>
